Repository thailephan/pet-note-astro-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker-image, deploy-server

.gitlab-ci.yml:

stages:
  - build
  - deploy

build-docker-image:
  stage: build
  image: docker:19
  services:
    - docker:dind
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
#   Pull latest image for caching (create image faster), return true mean if cananot pull, but no problem, whatever
# Co' thi cache k thi' thoi
    - docker pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:latest || true
    - docker build --cache-from $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:latest --tag $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA --tag $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:latest .
    - docker push $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:$CI_COMMIT_SHA
    - docker push $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:latest
  after_script:
    - docker logout $CI_REGISTRY
  only:
    changes:
      - "src/**/*"
      - "astro.config.mjs"
      - "Dockerfile"
      # - .gitlab-ci.yml
    refs:
      - master

deploy-server:
  image: alpine:latest
  stage: deploy
  script:
    - >
      ssh -i $ID_RSA $SERVER_USER@$SERVER_IP
      "cd ~/code/personal/pet-note-astro-react
      && git pull origin master
      && docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
      && docker-compose down
      && docker-compose pull $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG:latest
      && docker-compose up -d"
  only:
    changes:
      - "src/**/*"
      - "astro.config.mjs"
      - "Dockerfile"
      - .gitlab-ci.yml
    refs:
      - master

cicd: add secrets to gitlab cicd variable
  .gitlab-ci.yml
  aws-southeast.pem
Due: deploy-server

cicd: fix with docker
  .gitlab-ci.yml
Due: deploy-server

after add user to docker group and reboot
  .gitlab-ci.yml
Due: deploy-server

refine docker
  .gitlab-ci.yml
Due: deploy-server

cicd: change default image
  .gitlab-ci.yml
Due: deploy-server

fix: change not found tag docker, update ui
  .gitlab-ci.yml
  src/pages/index.astro
Due: build-docker-image, deploy-server

nginx: update routing
  .gitlab-ci.yml
  nginx.conf
  src/pages/index.astro
Due: build-docker-image, deploy-server

fix: update dockerfile, nginx.conf, .gitlab-ci
  .dockerignore
  .env
  .gitignore
  .gitlab-ci.yml
  Dockerfile
  Dockerfile.build
  docker-compose.yml
  docker/healthcheck/nginx.sh
  nginx.conf
  self-generate-private-key.pem
  self-generate-public-key.pem
Due: build-docker-image, deploy-server

fix nginx conf
  nginx.conf
Due: none

nginx: add gzip on
  nginx.conf
Due: none

learn astro split html and js
  .gitlab-ci.yml
  README.md
  src/components/animalList.astro
  src/components/loadDatawithJs.astro
  src/pages/index.astro
Due: build-docker-image, deploy-server

add: caro game to pet project
  src/components/caro.tsx
  src/pages/caro.astro
Due: build-docker-image, deploy-server

feat: add scissor-rock-paper game, refactor old games
  src/assets/global.css
  src/components/caro.tsx
  src/layouts/Layout.astro
  src/pages/caro.astro
  src/pages/index.astro
  src/pages/rock-paper-scissor.astro
  src/pages/todo.astro
Due: build-docker-image, deploy-server
